/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./complementary.css');
@import url('./testimonials.css');
@import url('./footer.css');

@media screen and (max-width:767px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width:768px){
  .container{width:768px;}
}
@media screen and (min-width:1280px) {
  .container {
    width: 1280px;
  }
}